menu "Battery certification support"

menuconfig HUAWEI_BATTERY_INFORMATION
	bool
	prompt "Certificate battery by information of IC."
	default n

source "drivers/huawei_platform/power/battery/MAXIM/Kconfig"

endmenu
